body {
    header {
        background-color: #dcdcdb;
        font-family: "Edu TAS Beginner", cursive;

        h1 {
            font-weight: 700;
        }
    }

    main {
        background-image: url('../img/cork.png');
        background-size: cover;
        height: 100%;

        .posts {
            flex-wrap: wrap;
            position: relative;

            .post {
                width: 295px;
                height: 380px;
                background-color: white;
                margin-top: 2rem;
                position: relative;

                p {
                    padding: .5rem;
                    font-family: "Sometype Mono", monospace;
                }

                .post-image {
                    width: 270px;
                    height: 270px;
                    margin: 0 auto;
                    margin-top: 1.5rem;

                    p {
                        text-align: center;
                        vertical-align: bottom;
                    }

                }

                &:hover{
                    transform: scale(1.1);
                    transform: rotate(5deg);
                } 
                
                .point {
                    width: 23px;
                    height: 22px;
                    background-color: rgb(231, 31, 31);
                    border-radius: 50%;
                    position: absolute;
                    top: 3px;
                    left: 50%;
                }

                .overlay {
                    position: fixed;
                    display: none;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    background-color: rgba(0, 0, 0, 0.5);
                }
    
                .aparecer {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: black;
                    font-size: 1rem;
                    transform: translate(-50%, -50%);
                }

                .show{
                    display: block;
                }

            }
        }
    }
}